input:disabled {
            background-color: lightgray;
            color: gray;
        }
        input:checked{
            accent-color: red;
        }
        input:focus{
            background-color: plum;
        }
        input:enabled{
            border: 2px solid pink;
        }